.box{
  width:100px;
  height:100px;
  margin-left:100px;
  margin-top:100px;
}
.header{ color: red; }
div h1{color: blue; }
div.wrapper h1#title{color:black;}
.wrapper #title{color:yellow;}
#box_wrapper h1{color: green;}
